[actions]
uv_compile_dev = "uv pip compile --generate-hashes requirements-dev.in --output-file requirements-dev.txt"
uv_compile_prod = "uv pip compile --generate-hashes requirements.in --output-file requirements.txt"

[actions.mypy]
description = "Run mypy"
environment = "bygg_development"
shell = ".venv/bin/python3 ./mypy.py"

[environments.bygg_development]
name = "Bygg development environment"
byggfile = "Byggfile.py"
inputs = ["requirements-dev.txt", "requirements.txt"]
venv_directory = ".venv"
shell = '''
uv venv
uv pip install -r requirements-dev.txt -r requirements.txt
uv pip install -e .
'''
