"$schema" = "file://schemas/Byggfile_schema.json"
# Could also be e.g.:
# "$schema" = "https://raw.githubusercontent.com/rikardg/bygg/refs/heads/master/schemas/Byggfile_schema.json"

[settings]
verbose = true

[actions]
uv_compile_dev = "uv pip compile --generate-hashes --group dev pyproject.toml --output-file requirements-dev.txt"
uv_compile_prod = "uv pip compile --generate-hashes pyproject.toml --output-file requirements.txt"
uv_compile_dev_upgrade = "uv pip compile --generate-hashes --group dev pyproject.toml --output-file requirements-dev.txt --upgrade"
uv_compile_prod_upgrade = "uv pip compile --generate-hashes pyproject.toml --output-file requirements.txt --upgrade"

[actions.mypy]
description = "Run mypy"
environment = "bygg_development"
shell = ".venv/bin/python3 ./mypy.py"

[environments.bygg_development]
name = "Bygg development environment"
inputs = ["requirements-dev.txt", "requirements.txt"]
venv_directory = ".venv"
shell = '''
set -e
# Leave uv out of options but to use the Python active in the shell:
uv venv --no-project --no-managed-python
uv pip install -r requirements-dev.txt -r requirements.txt
uv pip install -e .
'''
